@{
    ViewData["Title"] = "Home Page";
}

<div class="page-heading">
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                </div>
            </div>
        </div>
    </section>
</div>